<div class="container">
    <div class="row">
        <div class="col-md text-center mt-3">
            <img src="img/firdaus.jpg" alt="firdaus" class="img-thumbnail rounded-circle" width="200">
            <h1>Muhammad Firdaus</h1>
            <p class="lead">Lecturer | tukang tidur</p>
        </div>
    </div>
</div>